@import "styles/variaveis";

.homeContainer {
    background-color: $branco;

    display: flex;
    flex-direction: column;
    align-items: center;

    .caroselContainer {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: $preto;
            font-size: 2.5rem;
            font-weight: bold;
            margin-top: 20px;
            padding-bottom: 6px;
            border-bottom: 3px solid $marrom-escuro;
        }

        .carosel {
            border: 1px solid $marrom-escuro;

            position: static;

            width: 90%;
            height: 100%;
            margin: 20px 0;
        }
    }
}